.main-background{
    background-image: url("../img/universe.jpg");
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1.3fr 5fr 0.5fr;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main-title{
    background-color: rgb(15, 15, 114);
    color: white;
    text-align: center;
    padding: 1%;
    border: solid white;
    grid-column: 1/4;
}

.navbar{
    background-color: rgb(15, 15, 114);
    border: solid white;
    grid-column: 1/2;
    grid-row: 2/4;
}

.menu-button{
    background-color: whitesmoke;
    border: 10px;
    border-radius: 5px;
    padding: 10px 50px;
    text-align: center;
}

.menu-button:hover{
    background-color: lightgray;
    border: solid white;
    transform: scale(1.1);
    transition: transform 3s border 1s;
}

.menu-button-li{
    margin: 25px 0;
}

#main-menu-ul{
    list-style-type: none;
    text-align: center;
}

.main-content-background{
    grid-row: 2/4;
    grid-column:2/4;
    background-color: white;
    padding: 0px 5px;
}

.home-content{
    background-color: lightgray;
    border: solid darkgray;
    padding: 2px 9px;
    margin: 30px 30px;
}

.home-content:hover{
    box-shadow: 4px 4px 6px black;
}