.main-background{
    background-image: url("../img/universe.jpg");
}

.main-title{
    background-color: lightblue;
    text-align: center;
    padding: 3%;
    border: solid white;
}

.navbar{
    background-color: lightblue;
    border: solid white;
    width: 24%;
    height: 100%;
}

.menu-button{
    background-color: whitesmoke;
    border: 10px;
    border-radius: 5px;
    padding: 10px 50px;
    text-align: center;
}

.menu-button:hover{
    background-color: lightgray;
    border: solid black;
    transform: scale(1.1);
    transition: transform 3s border 1s;
}

.menu-button-li{
    margin: 15px 0;
    display: inline-block;
}

#main-menu-ul{
    list-style-type: none;
    text-align: center;
}