<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSpeed Airlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/img/lightspeed_logo.png">
</head>

<body class="main-background">

    <div class="main-title-header">
        <img class="main-logo" src="../static/img/lightspeed_logo.png" alt="LightSpeed Airlines logo">
        <h1 class="main-title-text">LightSpeed Airlines</h1>
    </div>
    <nav class="navbar">
        <ul id="main-menu-ul">
            <li class="menu-button-li"><a href="home.html" class="menu-button">Home</a></li>
            <li class="menu-button-li"><a href="fleet.html" class="menu-button">Fleet</a></li>
            <li class="menu-button-li"><a href="destinations.html" class="menu-button">Destinations</a></li>
            <li class="menu-button-li"><a href="book.html" class="menu-button">Book a trip</a></li>
        </ul>
    </nav>

    <div class="main-content-background">
        <h3 class="page-name">Book a trip</h3>
        <hr class="horizontal-line">
        <section id="confirmation-section">
            <h4>Booking confirmed</h4>
            <p style="font-style: italic">Can't wait to see you on board!</p>
        </section>
    </div>
</body>