<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSpeed Airlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body class="main-background">

    <h1 class="main-title">LightSpeed Airlines</h1>
    <nav class="navbar">
        <ul id="main-menu-ul">
            <li class="menu-button-li"><a href="home.html" class="menu-button">Home</a></li>
            <li class="menu-button-li"><a href="fleet.html" class="menu-button">Fleet</a></li>
            <li class="menu-button-li"><a href="destinations.html" class="menu-button">Destinations</a></li>
            <li class="menu-button-li"><a href="book.html" class="menu-button">Book a trip</a></li>
        </ul>
    </nav>

    <div class="main-content-background">
        <h3 class="page-name">Book a trip</h4>
        <hr class="horizontal-line">
        <div class="booking-main-form">
            <section id="booking-departure-sec">
                <h3>Departure</h3>
                <section id="booking-departure-blocks">
                    <button id="booking-planet-box" style="grid-row: 1; grid-column: 1">Naboo</button>
                    <button id="booking-planet-box" style="grid-row: 1; grid-column: 2">Coruscant</button>
                    <button id="booking-planet-box" style="grid-row: 1; grid-column: 3">Tatooine</button>
                    <button id="booking-planet-box" style="grid-row: 2; grid-column: 1">Kamino</button>
                    <button id="booking-planet-box" style="grid-row: 2; grid-column: 2">Geonosis</button>
                    <button id="booking-planet-box" style="grid-row: 2; grid-column: 3">Kashyyyk</button>
                </section>
            </section>
            <section id="booking-arrival-sec">
                <h3>Arrival</h3>
            </section>
        </div>