<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSpeed Airlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/img/lightspeed_logo.png">
</head>

<body class="main-background">

    <div class="main-title-header">
        <img class="main-logo" src="../static/img/lightspeed_logo.png" alt="LightSpeed Airlines logo">
        <h1 class="main-title-text">LightSpeed Airlines</h1>
    </div>
    <nav class="navbar">
        <ul id="main-menu-ul">
            <li class="menu-button-li"><a href="home.html" class="menu-button">Home</a></li>
            <li class="menu-button-li"><a href="fleet.html" class="menu-button">Fleet</a></li>
            <li class="menu-button-li"><a href="destinations.html" class="menu-button">Destinations</a></li>
            <li class="menu-button-li"><a href="book.html" class="menu-button">Book a trip</a></li>
        </ul>
    </nav>

    <div class="main-content-background">
        <h3 class="page-name">Book a trip</h3>
        <hr class="horizontal-line">
        <form class="booking-main-form" action="./booking_confirmed.html" method="get">
            <section class="booking-dep-arr-section" style="grid-column: 1">
                <h3>Departure</h3>
                <section class="booking-dep-arr-blocks" style="grid-column: 1">
                    <label class="booking-box" style="grid-row: 1; grid-column: 1"><input type="radio" name="departure" value="naboo" required><span class="booking-box-content"><img src="../static/img/destinations/naboo_planet.png" alt="Can't load image"><span>Naboo</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 2"><input type="radio" name="departure" value="coruscant" required><span class="booking-box-content"><img src="../static/img/destinations/coruscant_planet.png" alt="Can't load image"><span>Coruscant</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 3"><input type="radio" name="departure" value="tatooine" required><span class="booking-box-content"><img src="../static/img/destinations/tatooine_planet.png" alt="Can't load image"><span>Tatooine</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 1"><input type="radio" name="departure" value="kamino" required><span class="booking-box-content"><img src="../static/img/destinations/kamino_planet.png" alt="Can't load image"><span>Kamino</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 2"><input type="radio" name="departure" value="geonosis" required><span class="booking-box-content"><img src="../static/img/destinations/geonosis_planet.png" alt="Can't load image"><span>Geonosis</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 3"><input type="radio" name="departure" value="kashyyyk" required><span class="booking-box-content"><img src="../static/img/destinations/kashyyyk_planet.png" alt="Can't load image"><span>Kashyyyk</span></span></label>
                </section>
            </section>
            <section class="booking-dep-arr-section" style="grid-column: 2">
                <h3>Arrival</h3>
                <section class="booking-dep-arr-blocks" style="grid-column: 2">
                    <label class="booking-box" style="grid-row: 1; grid-column: 1"><input type="radio" name="arrival" value="naboo" required><span class="booking-box-content"><img src="../static/img/destinations/naboo_planet.png" alt="Can't load image"><span>Naboo</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 2"><input type="radio" name="arrival" value="coruscant" required><span class="booking-box-content"><img src="../static/img/destinations/coruscant_planet.png" alt="Can't load image"><span>Coruscant</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 3"><input type="radio" name="arrival" value="tatooine" required><span class="booking-box-content"><img src="../static/img/destinations/tatooine_planet.png" alt="Can't load image"><span>Tatooine</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 1"><input type="radio" name="arrival" value="kamino" required><span class="booking-box-content"><img src="../static/img/destinations/kamino_planet.png" alt="Can't load image"><span>Kamino</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 2"><input type="radio" name="arrival" value="geonosis" required><span class="booking-box-content"><img src="../static/img/destinations/geonosis_planet.png" alt="Can't load image"><span>Geonosis</span></span></label>
                    <label class="booking-box" style="grid-row: 2; grid-column: 3"><input type="radio" name="arrival" value="kashyyyk" required><span class="booking-box-content"><img src="../static/img/destinations/kashyyyk_planet.png" alt="Can't load image"><span>Kashyyyk</span></span></label>
                </section>
            </section>
            
            <section id="booking-ship-selection">
                <h3>Ship</h3>
                <section class="booking-dep-arr-blocks" style="grid-column: 1">
                    <label class="booking-box" style="grid-row: 1; grid-column: 1"><input type="radio" name="ship" value="gunship" required><span class="booking-box-content"><img src="../static/img/ships/gunship.jpg" alt="Can't load image"><span>Gunship</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 2"><input type="radio" name="ship" value="yacht" required><span class="booking-box-content"><img src="../static/img/ships/yacht.jpg" alt="Can't load image"><span>Yacht</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 3"><input type="radio" name="ship" value="imperial-shuttle" required><span class="booking-box-content"><img src="../static/img/ships/imperialshuttle.jpg" alt="Can't load image"><span>Imperial Shuttle</span></span></label>
                    <label class="booking-box" style="grid-row: 1; grid-column: 4"><input type="radio" name="ship" value="zeta-class-shuttle" required><span class="booking-box-content"><img src="../static/img/ships/zetaclassshuttle.jpg" alt="Can't load image"><span>Zeta Class Shuttle</span></span></label>
                </section>
            </section>

            <section id="booking-passengers-selection">
                <h3>Passengers</h3>
                <section>
                    <input type="number" id="booking-passengers-input" name="passengers" min="1" max="10" required>
                </section>
            </section>

            <section id="booking-date-selection">
                <h3>Date</h3>
                <section>
                    <input type="date" id="booking-date-input" name="date" required>
                </section>
            </section>

            <button id="booking-submit-button" type="submit">
                Book trip
            </button>

        </form>
    </div>
</body>