<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSpeed Airlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body class="main-background">

    <h1 class="main-title">LightSpeed Airlines</h1>
    <nav class="navbar">
        <ul id="main-menu-ul">
            <li class="menu-button-li"><a href="home.html" class="menu-button">Home</a></li>
            <li class="menu-button-li"><a href="fleet.html" class="menu-button">Fleet</a></li>
            <li class="menu-button-li"><a href="destinations.html" class="menu-button">Destinations</a></li>
            <li class="menu-button-li"><a href="book.html" class="menu-button">Book a trip</a></li>
        </ul>
    </nav>

    <div class="main-content-background">
        <h3 class="page-name">Destinations</h4>
        <hr class="horizontal-line">

        <div class="destinations-background">
            <article class="destination-single-block1">
                <section class="destination-planet-header">
                    <img src = "../static/img/destinations/naboo_planet.png" class="destination-planet-image">
                    <h1 class="destination-planet-name">Naboo</h1>
                </section>
                <section class="destination-planet-carousel">
                    <img src="../static/img/destinations/naboo1.jpeg" id="destination-planet-img1">
                    <img src="../static/img/destinations/naboo2.jpg" id="destination-planet-img2">
                    <img src="../static/img/destinations/naboo3.webp" id="destination-planet-img3">
                </section>
                <section class="destination-planet-description">
                    <p>A lush, tranquil world of rolling plains, mirror-still lakes, and underwater cities few outsiders ever see. Naboo is known for its elegant architecture, peaceful reputation, and a surprising habit of ending up at the center of galactic history anyway. Popular with travelers seeking scenery over excitement, though we can't promise the excitement won't find you.</p>
                </section>
            </article>

            <article class="destination-single-block2">
                <section class="destination-planet-header">
                    <img src = "../static/img/destinations/coruscant_planet.png" class="destination-planet-image">
                    <h1 class="destination-planet-name">Coruscant</h1>
                </section>
                <section class="destination-planet-carousel">
                    <img src="../static/img/destinations/coruscant1.jpg" id="destination-planet-img1">
                    <img src="../static/img/destinations/coruscant2.jpg" id="destination-planet-img2">
                    <img src="../static/img/destinations/coruscant3.jpeg" id="destination-planet-img3">
                </section>
                <section class="destination-planet-description">
                    <p>A city that swallowed an entire planet, Coruscant is one endless skyline of towers, traffic lanes, and government buildings stacked on top of each other as far down as anyone's bothered to look. Home to the Senate, the Jedi Temple, and more bureaucracy per square meter than anywhere else in the galaxy. If you like your travel loud, layered, and never quite touching actual ground, this is the stop for you.</p>
                </section>
            </article>

        </div>
