<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LightSpeed Airlines</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body class="main-background">
    <header>
        <h1 class="main-title">LightSpeed Airlines</h1>
        <nav class="navbar">
            <ul id="main-menu-ul">
                <li class="menu-button-li"><a href="home.html" class="menu-button">Home</a></li>
                <li class="menu-button-li"><a href="fleet.html" class="menu-button">Fleet</a></li>
                <li class="menu-button-li"><a href="routes.html" class="menu-button">Routes</a></li>
                <li class="menu-button-li"><a href="book.html" class="menu-button">Book a trip</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>